# Указание папок и файлов, специфичных для VS Code
.vscode/
.history/
.settings/

# Файлы конфигураций
*.code-workspace

# Указание папки зависимостей Composer
/vendor/

# Игнорирование файлов журналов, временных и кэшированных файлов
*.log
*.tmp
*.cache

# Информация о среде
.env
.env.local

# Папки сборки
/build/
public/build/
public/assets/

# Логи и другие сгенерированные файлы
logs/
*.log

# OS созданные файлы
.DS_Store
Thumbs.db

# Временные и резервные файлы
tmp/
temp/
*~
*.bak