/* ------------------------------------    Imports   ------------------------------------*/

/* CSS */
@import url("./default.css");

/* --------------------------------------    Default   --------------------------------------*/

body{
    min-height: 100vh;
    background-color: #ccd8e0;
    display: flex;
    justify-content: center;
}

/* --------------------------------------    Booking   --------------------------------------*/

.booking{
    background-color: #fff;
    margin: auto;
    width: 600px;
    min-height: 600px;
}

/* ------------------    Header   ------------------*/
.header{
    position: relative;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
}

.header__account {
    height: 36px;
}

.header__account__menu {
    display: none;
    position: absolute;
    right: 30px;
    z-index: 2;
    width: 185px;
    padding: 5px 0;
    background-color: rgba(26,26,26,0.95);
    border-radius: 5px;
}

.header__account__menu-item {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    font-size: 16px;
}

.header__account__menu-item:hover {
    background-color: rgba(255,255,255,0.1);
}

/* ------------------    Form   ------------------*/

.form{
    padding: 20px;
    color: #2a2a2a;
}

.form__title{
    text-align: center;
    font-weight: 900;
    font-size: 28px;
    /* padding-bottom: 16px; */
}

/* -------    Capacity    -------*/

.capacity{
    margin: 20px 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.number-input{
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--primary-border); */
    /* border-radius: .25rem; */
}

.value{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0 5px;
}

.number {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    color: var(--accent-blue);
}

.text {
    font-size: 17px;
    font-weight: 600;
    width: 91px;
    text-align: center;
    opacity: 0.9;
}