/* ------------------------------------    Imports   ------------------------------------*/

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS */
@import url("./media.css");


/* ------------------------------------    Root    ------------------------------------*/
:root {
    --primary-red: #b44646;
    --primary-blue: #4e88b8;
    --light-blue:#a8c7e7;
    --primary-black:#1a1a1a;
    --primary-grey: #3a3a3a;
    --accent-blue: #1b62b3;
    --bg-white:#fafafa;
    --primary-border:#ebebeb;
}

/* ------------------------------------    Reset    ------------------------------------*/

/* Reset and base styles  */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ul li {
	list-style: none;
}

button {
    border:none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

p{
    margin-bottom: 0 !important;
}

ul{
    margin: 0 !important;
    padding-left: 0 !important;
}

h1{
    line-height: normal !important;
    margin: 0 !important;
}

.select2-results__option--selected{
    background-color: var(--primary-border) !important;
    color: #000 !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection{
    border-color: var(--light-blue) !important;
    box-shadow: 0 0 0 3px rgba(13,110,253,.25) !important; 
}
.select2-container--bootstrap-5.select2-container--open .select2-selection {
    border-color: var(--light-blue) !important;
    box-shadow: none !important;
}

.select2-dropdown {
    border-color: var(--light-blue) !important;
}

.select2-search__field:focus{
    box-shadow: none !important;
    border-color: var(--light-blue) !important;
}

.form-control:focus{
    box-shadow: 0 0 0 3px rgba(13,110,253,.25) !important;
    border-color: var(--light-blue) !important;
}

/* ------------------------------------    Defaults    ------------------------------------*/
body {
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff; 
}

img {
    max-width: 100%;
}

/* -------------------------------------    Logo    -------------------------------------*/
.logo {
    display: flex;
    font-style: italic;
    font-size: 26px;
    font-weight: 700;
    color: var(--light-blue);
    transition: 0.5s;
    align-items: baseline;
}

.logo strong {
    font-weight: 800; 
    color: var(--primary-blue); 
}

.logo:hover {
    color: var(--primary-blue); 
}   