/* ------------------------------------    Imports   ------------------------------------*/

/* CSS */
@import url("./default.css");

/* ------------------------------------    All   ------------------------------------*/

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    min-height: 100vh;
    line-height: normal;
}

.header__list,.footer__title {
    margin-bottom: 0;
}

.register{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register__form  {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid var(--primary-border);
    box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
    border-radius: 10px;
}

.register__title {
    text-align: center;
    padding: 24px 0;
    font-weight: 900;
    font-size: 26px;
    margin: 0;
    color: var(--primary-grey);
}

.password{
    position: relative;
}

.bi-eye-slash{
    position: absolute;
    right: 20px;
    bottom: 9px;
}

.form__err {
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
    color: #E32636;
}

.submit__btn {
    font-weight: 600;
    width: 100%; 
    margin: 0 auto;
    background-color: var(--accent-blue);
}

.link{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 24px;
}

.link__text{
    font-weight: 400;
    max-width: 215px;
    text-align: center;
}

.link a{
    font-weight: 500;
    color:var(--accent-blue);
}
